{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COURSES PAGE</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/courses.css' %}">
    <script>
        function validateform1() {
            let id = document.forms["myform"]["id"].value;
            let credithours = document.forms["myform"]["creditnumber"].value;
            let depart = document.forms["myform"]["sbaey"].value;
            let coursename = document.forms["myform"]["name"].value;
            if (credithours < 40 && depart != "NONE") {
                alert("your credit hours is not enough to choose a department");
            } else if (id.length != 8) {
                alert("your id must be at least 8 characters long.");
            } else if (depart == "select depart") {
                alert("please select department");
            } else if (coursename == null || coursename == "") {
                alert("please enter a course name you want to register");
            } else {
                window.location = "home.html";

            }
        }
    </script>
</head>

<body>



    <div class="menu">
        <h2 style="color: aliceblue; margin: 30px;">COURSES PAGE
        </h2>
        <ul>
            <li><a href="home.html">HOME</a></li>
            <li>
                <a href="search"> SEARCH </a></li>
            <li><a href="edit.html "> EDIT </a></li>

            <li><a target="_self" href="department.html ">DEPARTMENT</a></li>
            <li><a href="view ">VIEW</a></li>
            <li><a href="courses.html ">COURSES</a></li>
            <li><a href="signup.html ">SIGNUP</a></li>
            <li><a href="login.html ">LOGIN</a></li>
        </ul>
    </div>
    {% include 'search_venus.html' %}
    <form name="myform" method="GET" action="{% url 'course_student' %}" onsubmit="validateform1()">
        {% csrf_token %}
        <div class="form ">
            <h2 style="margin-left: 155px; ">course info</h2>
            <input type="number " name="id" placeholder="Enter Student ID ">
            <select style="margin-left:70px ;" name="sbaey">
                <option selected="selected">select depart</option>
                <option value="NONE">NONE</option>
                <option value="CS">CS</option>
                <option value="IT">IT</option>
                <option value="IS">IS</option>
                <option value="AI">AI</option>
                <option value="DS">DS</option>
              </select>
            <label for="course name "></label>
            <input type="text " id=" student ID " name="name" placeholder="Enter course name ">
            <input type="number " name="creditnumber" style="margin-left:20px;" placeholder=" enter your credit hours">



            <button type="submit" class="btnn " onclick="validateform1() " style="margin-left: 140px; ">register</button>




        </div>
    </form>
</body>

</html>
{% endblock content %}