<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STUDENT AFFAIRS</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>



    <div class="menu" style="margin-top:-39px;">
        <h2 style="color: aliceblue; margin: 30px;">STUDENT AFFAIRS </h2>
        <ul>
            <li><a href="home.html">HOME</a></li>
            <li><a href="search"> SEARCH </a></li>
            <li><a href="edit.html"> EDIT </a></li>

            <li><a href="department.html">DEPARTMENT</a></li>
            <li><a href="view">VIEW</a></li>
            <li><a href="courses.html">COURSES</a></li>
            <li><a href="signup.html ">SIGNUP</a></li>
            <li><a href="login.html ">LOGIN</a></li>
        </ul>
    </div>
    <h1 style="font-size: 70px;  color: #8d6b0c; text-align: center;"> welcome to our community</h1>


</body>

</html>