.menu {
    background-image: url(OIP.jpg);
    width: 1900px;
    float: left;
    height: 200px;
    box-sizing: border-box;
}

ul {
    float: left;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: #ff7200;
}